{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded text-center">
        <div class="card-body">
          <h1 class="display-4 text-dark">Welcome to My To-Do Flask App</h1>
          <p class="lead text-dark">Stay organized and manage your tasks efficiently.</p>
          <a href="/tasks" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
